/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
@import url('https://fonts.googleapis.com/css2?family=Over+the+Rainbow&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shafarik&display=swap');

/* Tailwind latest version*/

body {

  font-family: 'Quicksand', serif;
  background: linear-gradient(to bottom right, #39184e 20%, #e9b587 80%);
  /*grid-template-columns: repeat(4, 1fr); 
  grid-template-rows: repeat(4, 1fr);
  align-items: flex-end;
  justify-content: space-between;
  color: #272727;*/
  /*font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: rem; /*en root element, plus pratique et ergonomique pour l'uitlisateur*/
  
}

.container {
  display: flex;  
  margin: auto;      /* Utilisation de flexbox */
  justify-content: center;   /* Centrer horizontalement */
  align-items: center;
  align-content: center;       /* Centrer verticalement */
  height: 100vh;             /*hauteur du viewport*/
}

h1 {
  margin: 40px;
  color: rgba(245, 242, 224, 0.919);
  font-family: 'Over the Rainbow';
  font-size: 40px;
  font-weight: 600;
  text-align: center;
  align-content: center;

}


.cards_item1, .cards_item2, .cards_item3, .cards_item4 {
  width: 435px;
  padding: 20px;
  background-color: hsla(0, 80%, 98%, 0.449);
  transition: 0.3s;
  border-radius: 25% 8%;
  border-color:hsl(263, 82%, 24%);
  border-style: solid;
  border-width: thin;
  box-shadow: 8px 8px 15px 7px rgba(0,0,0, 60);
  text-align: center;
}
img {
  width: 100%;
  height: auto;
  border-radius: 38% 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card_title {
  font-family: 'Righteous';
  color: #202051;
  font-size: xx-large;
  font-weight: 200;

}

.card_language1 {
  font-family: 'Shafarik';
  font-style: italic;
  font-size: larger;

}

.card_text {
  margin-top: 10%;
  margin: 5px;
  padding: 2px;
  font-family: 'Over the Rainbow';
  font-weight: 700;
  color: rgb(45, 28, 40);
}



.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
